# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore

# Repository config
.github
.pre-commit-config.yaml
.rgignore
LICENSE

# Util binaries
cmd/*

# Test data
fixtures/
testdata/

# Test code files
*_test.go
